/* font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* style utama */
body {
    font-size: 18px;
    line-height: 36px;
    font-family: 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}

/* h1 */
h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

/* container */
.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}


.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li span,
.gallery li img {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: 300ms;
}

/* cara baca selector dibawah ini:
css ubah span yang ada di dalam tag a yang ketika di hover akan menjalankan properti css didalamnya, untuk tag a yang ada di dalam li dan di bungkus oleh class gallery.
*/
.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}