/* font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../font/BebasNeue-Regular.woff) format('woff');
}

/* style utama */
body {
    font-size: 18px;
    line-height: 36px;
    font-family: 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}

/* h1 */
h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

/* container */
.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}


.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li span,
.gallery li a img {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: 300ms;
}

/* cara baca selector dibawah ini:
css ubah span yang ada di dalam tag a yang ketika di hover akan menjalankan properti css didalamnya, untuk tag a yang ada di dalam li dan di bungkus oleh class gallery.
*/
.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 800ms;
    text-align: center;
    padding: 100px 0;
}

/* NOTE: 
:target ini adalah pseudo elemen yang ada HANYA pada tag a untuk memilih elemen aktif yang diinginkan pada elemen lain yang memiliki nilai target yang sama. contoh di file index.html nya pada tag a href nya berisi "#gambar-1" maka agar bisa digunakan tag a tersebut pada elemen lain seperti overlay maka perlu diberi id yang sama yaitu "gambar-1" juga, dan HARUS menggunakan ID karna id pada selector css menggunakan tanda pagar # */
.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

/* cara baca selector dibawah:
Pada saat overlay ini kita target, img didalamnya kita kasih animasi */
.overlay:target img {
    animation: fade 800ms;
}

.overlay .close {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    color: whitesmoke;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 17px;
    padding: 5px;
    opacity: 0;
}

/* cara baca selector dibawah:
Pada saat overlay ini kita target, class close di dalamnya kita kasih animasi */
.overlay:target .close {
    animation: slideDown 800ms 800ms forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade 800ms 800ms forwards;
}


/* navigasi next dan prev */
.next, .prev {
    width: 57px;
    height: 92px;
    background-image:url(../img/next-prev/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../img/next-prev/prev.png);
    margin-left: -100px;
}


/* animasi */
@keyframes ZoomDanFade {
    0% {
        transform: scale(0) rotate(0);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}