html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/* latihan 1 */
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* latihan 2 */
.container-dua {
    max-width: 800px;
    margin: 50px auto;
}

.layanan-satu, .layanan-dua, .layanan-tiga {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan-satu {
    background-color: rgb(119, 119, 255);
}

.layanan-dua {
    background-color: rgb(103, 216, 103);
}

.layanan-tiga {
    background-color: rgb(255, 124, 124);
}

/* latihan 3 */
.container-tiga {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* max-width digunakan agar saat browser di kecilkan ukuran dari isinya bisa ikut mengecil jadi tidak akan fix ukurannya. */

.thumbnail {
    width: 50%;
}

/* dengan properti width 100% maka img akan mengikuti ukuran dari thumbnail nya. karna 100% = 800px dari lebarnya sehingga dengan display flex, img nya akan mengikuti lebar container nya. */
.thumbnail img {
    width: 100%;
}


/* kelas untuk responsive */

/* cara baca baris @media dibawah: jika lebar minimal window nya 600px atau lebih maka .container-dua akan menggunakan style css yg dibawah ini.

intinya jika lebarnya dibawah 600px maka display flex dibawah tidak akan dijalankan, tetapi jika lebarnya minimal sudah 600px atau lebih maka display flex dibawah dijalankan.

*/
@media( min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan-satu, .layanan-dua, .layanan-tiga {
        width: 30%;
    }

    .thumbnail {
        width: 25%;
    }
}