/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */


/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 960px;
}


/* font-face */
@font-face {
    font-family: 'chunkfiveregular';
    src: url('chunkfive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* container */
.container {
    background-color: #666;
    padding: 20px;
}


/* header */
.header h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.header ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.header ul li a {
    color: salmon;
    text-decoration: none;
}

.header ul li a:hover {
    background-color: lightskyblue;
    color: whitesmoke;
    transition: 1s;
}


/* banner */
.banner {
    background-image: url(radek-grzybowski-eBRTYyjwpRY-unsplash.jpg);
    height: 380px;
    background-size: cover;
    background-position: 0 -250px;
    border-top: 10px solid salmon;
    border-bottom: 10px solid lightskyblue;
}


/* content main */
.content .main {
    width: 600px;
    float: left;
}

.content .main h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main p.penulis {
    font-size: 14px;
}

.main p.penulis a {
    color: salmon;
    text-decoration: none;
}

.main p.penulis a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
    transition: 1s;
}

.main p {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 20px;
}


/* sidebar */
.sidebar {
    width: 300px;
    float: right;
    margin-top: 50px;
    box-sizing: border-box;
}

.sidebar img {
    width: 80px;
    height: 80px;
    float: left;
    padding: 10px;
}

.sidebar p {
    font-size: 15px;
    line-height: 20px;
}



/* teknik clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }