// SASS Variable
// global scope
$secondary-color: rgba(34, 152, 255, 0.656);
$text-color: salmon;
$primary-color: green;

body {
  // local scope
  $primary-color: #f4f1de;
  background-color: $primary-color;
}

h1 {
  color: $primary-color;
}
