/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// end of css reset

body {
  width: 960px;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  padding: 0 12px;
  box-sizing: border-box;
  h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
  }

  ul {
    display: flex;
  }

  ul > li {
    padding: 6px 12px;
    border-right: 1px solid black;
  }

  ul > li:nth-child(1) {
    margin-left: -12px;
  }

  ul > li:last-child {
    border-right: none;
  }

  a {
    text-decoration: none;
  }

  ul > li:hover {
    background-color: salmon;
    transition-duration: 500ms;
  }
}

.hero {
  margin-top: 12px;
  background-image: url("https://wallpapers.com/images/hd/national-flag-of-palestine-2fr136dmhmybdnca.jpg");
  height: 380px;
  background-position: center center;
  background-size: cover;
  border-top: 6px solid black;
  border-bottom: 6px solid green;
}
