/* box-sizing pada semua elemen seperti dibawah wajib digunakan agar ukuran lebar dan tinggi dari suatu elemen bisa tetap tidak berubah karna padding dan border */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: salmon;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;

  /* width dan height didapat dari lebar dan tinggi .square dikali 3, karna mau dibuat ukuran 3 kali 3 */
  width: 105px;
  height: 105px;
}
