* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Sono", Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* container */
.container {
  display: grid;
  gap: 10px;
}

/* header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/rsz_hero-suit.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px;
}

/* untuk menghilangkan text di dalam kelas hero */
.hero h2,
.hero p {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/shirt-jeans.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/sweater-jeans.jpg);
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* navigasi */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.2em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  z-index: 999;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  display: block;
  position: absolute;
  background-color: black;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/* kalau icon nya copas dari keyboard seperti di hp bisa pakai ini, tapi karna di html nya copas svg nya jadi perlu diganti di html nya langsung */
/* .service .icon {
  font-size: 3em;
} */

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  font-size: 0.8em;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero h2,
  .hero p {
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }
  .menu-toggle {
    display: flex;
  }

  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
