* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Sono", Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* container */
.container {
  display: grid;
  gap: 10px;
}

/* header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/rsz_hero-suit.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px;
}

/* untuk menghilangkan text di dalam kelas hero */
.hero h2,
.hero p {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/shirt-jeans.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/sweater-jeans.jpg);
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* navigasi */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.2em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero h2,
  .hero p {
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}
