/* 
- vh (relatif thdp tinggi dari viewport / layar yg dilihat saat itu, misal layar hp, desktop dll), 
- vw (relatif thdp lebar dari viewport), 
- vmin (relatif thdp dimensi terkecil sebuah viewport), 
- vmax (relatif thdp dimensi terbesar sebuah viewport)
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8em;
}

/* contoh header ini akan membuat img nya, tetap berada di tengah layar walaupun window nya dikecilkan. Yang terpenting adalah properti background-size, background-position dan height nya yg diberi satuan vh. */
header {
  background-color: #ccc;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
/* height: 100vh berarti 100% dari tinggi window yg sedang digunakan */

h1 {
  /* font-size: 4rem; */
  /* font-size: 4vw; */
  /* dengan vw diatas ini, maka ketika layar dikecilkan seukuran layar hp, tulisannya tidak akan terpotong seperti pada 4rem diatasnya tetapi tulisan h1 nya akan mengecil, untuk mengatasi tulisan yg mengecil itu kita bisa gunakan v-max seperti dibawah ini */
  font-size: 4vmax;
  line-height: 1.2em;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: auto;
}
/* font-size: 4vw berarti 4% dari lebar window yg sedang digunakan */

section {
  margin: 30px auto;
  width: 80%;
}

section .detail {
  font-size: 1.4rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: #333;
}
