body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: arial;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 600px;
  margin: 50px auto;
  border: 5px solid #333;
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1.3fr;
}
/* pada grid-template-areas digunakan untuk mendeklarasikan area berdasarkan tag html nya dan berjumlah sesuai yg diinginkan, diatas contohnya adalah 4 baris x 2 kolom */

/* grid-template-columns & grid-template-rows digunakan untuk memberikan ukuran dgn satuan fraction sesuai jumlah baris dan kolomnya */

/* pada tag html5, hanya perlu digunakan saja properti grid-area dengan nama yg telah di deklarasikan di grid-template-areas nya. */
header {
  grid-area: header;
  background-color: #b063d8;
  /* padding: 40px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* grid bisa digunakan bersamaan dengan flex seperti diatas untuk membuat teks nya berada di tengah, jadi tidak perlu pakai padding lagi. */

aside {
  grid-area: aside;
  background-color: #2f93ff;
  padding: 60px 0;
}

nav {
  grid-area: nav;
  background-color: #e45765;
  padding: 100px 0;
}

main {
  grid-area: main;
  background-color: #e0aa77;
  box-sizing: border-box;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: #666;
  padding: 20px 0;
}
