/* flexbox, model layout 1 dimensi yg dapat mengatur jarak dan penjajaran antar item dalam sebuah container. 1 dimensi tadi diartiikan bahwa kita hanya bisa mengatur secara 1 dimensi antara baris (horizontal) atau kolom (vertikal), dan tidak bisa mengatur keduanya (horizonal dan vertikal) sekaligus. */

/* untuk mengatur layout 2 dimensi bisa menggunakan css grid. */

/* pada flexbox terdapat 2 istilah yaitu;
- container / pembungkus / parent, yg membungkus elemen, dan pembungkus ini yg akan kita atur dengan properti flex.

- items / childs, elemen yg ada di dalam pembungkus. 

- main size, ukuran dari container nya.

- cross size, ukuran dari kolom nya.
*/

/* properti yg bisa diberikan pada container:
1. display: flex | inline-flexs
2. flex-direction: row | row-reverse | column | column-reverse
3. flex-wrap: nowrap | wrap | wrap-reverse */

.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
}

.container div {
    width: 120px;
    height: 120px;
    background-color: rgb(128, 128, 241);
    margin: 2px;
}